.header-page {
  position: relative;
  z-index: 50;
  padding: 1.875rem 0;
  &__row {
	position: relative;
    @include flex;
    align-items: center;
    // gap: 1.875rem;
    background: linear-gradient(135deg, #651980 0%, #d00f84 80%, #d00f84 100%);
    border-radius: 1.875rem;
    padding: 1rem 0.75rem;
  }
  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 50px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #fff;
	 &:not(:last-child){
		margin-right: 0.9375rem;
	 }
  }
  // &:before {
  //   content: "";
  //   position: absolute;
  //   right: 0;
  //   top: 0;
  //   height: 100%;
  //   width: calc(100% + (100vw - 1760px) / 2);
  //   background: linear-gradient(
  //     90deg,
  //     rgba(101, 25, 128, 1) 0%,
  //     rgba(208, 15, 132, 1) 100%
  //   );
  //   border-radius: 0 1.875rem 1.875rem 0;
  //   z-index: -1;
  //   @media (max-width: 1800px) {
  //     width: calc(100% + 30px);
  //   }
  // }

  &__search {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0.75rem;
	z-index: 3;
    max-width: 25rem;
    width: 100%;
    margin-left: auto;
	 transition: all 0.8s ease 0s;
	 &.--active {
		max-width: 43.75rem;
	  }
  }
}
.all-status {
  display: flex;
  align-items: center;
  max-width: 16.25rem;
  width: 100%;
  margin-right: 1.25rem;
  svg {
    margin-right: 0.75rem;
  }
  &__value {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 100%;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
  }
  &__desc {
    font-weight: 700;
    font-size: 0.625rem;
    line-height: 100%;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.9);
  }
}
