// Заголовки, общие БЄМ блоки и проче...

.notification {
	position: relative;
	display: grid; 
	grid-template-columns: repeat(auto-fit, minmax(21.875rem, 1fr)); 
	align-items: center;
	gap: 0.625rem;
	padding: 1.875rem 2.5rem;
	border-radius: 3.125rem;
	background: linear-gradient(91.61deg, #651980 0%, #D00F84 100%);
	&__check {
		position: absolute;
		top: -2.1875rem;
		left: 2.1875rem;
		overflow: hidden;
		width: 3.75rem;
		height: 3.75rem;
		border-radius: 50%;
		svg {
			width: 100%;
			height: 100%;
		}
	}
	&__descp {
		color: #fff;
	}
	&__title {
		display: flex;
		align-items: center;
		gap: 0.625rem;
		font-size: 1.875rem;
		font-weight: 700;
		line-height: 2.25rem;
		&:not(:last-child){
			margin-bottom: 0.75rem;
		}
		svg {
			width: 2.25rem;
			height: 2.625rem;
			border-radius: 50%;
		}
	}
	&__subtitle { 
		font-size: 1.5625rem;
		font-weight: 400;
		line-height: 1.875rem;
		letter-spacing: -0.02em;
	}
	&__action {
		display: flex;
		justify-content: flex-end;
	}
	&__btn { 
		text-transform: uppercase;
		background: #0079F3;
	}
	&.notification--success {
		background: #fff;
		border: 0.3125rem solid #23E063;
		.notification__descp {
			color: #000;
		}
		.notification__btn {  
			background: linear-gradient(135deg, #31E46E 0%, #17C854 100%);
		}
	}
}
//========================================================================================================================================================

.module__navigation {
	position: relative;
}

.navigation-module {
	&__box {
		position: sticky;
    top: 0.625rem;
    transform: translateY(-0.6875rem);
	}
	&__header-icon {
		width: 100%;
		height: 1.25rem;
		background: linear-gradient(90deg, #651980 0%, #D00F84 91.86%);
		border-radius: 0 0 3.75rem 3.75rem;
	}
	&__wrapper {
		padding: 2.5rem;
	}
	&__body {
		&:not(:last-child){
			margin-bottom: 5.125rem;
		}
	}
	&__title {
		font-size: 2.5rem;
		font-weight: 700;
		line-height: 2.5rem;
		letter-spacing: -0.02em;
		color: #000;

		&:not(:last-child) {
			margin-bottom: 2.25rem;
		}
	}
	&__filter {
		.checkbox {
			&:not(:last-child){
				margin-bottom: 1rem;
			}
		}
		.checkbox__label {
			width: 86%;
	  }
	}
	&__footer {

	}
	&__notification {

	}
}

.notification-module {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 0.5rem 0.75rem;
	gap: 0.375rem;
	font-size: 0.9375rem;
	font-weight: 700;
	line-height: 0.9375rem;
	letter-spacing: -0.02em;
	color: #CC1384;
	background-color: #ECE6F3;
	border-radius: 0.9375rem;
	width: 100%;
	svg {
		width: 1rem;
		height: 1rem;
		border-radius: 50%;
	}
}
//========================================================================================================================================================

.lock-module {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
	&__icon {
		width: 110px;
		height: 140px;
		overflow: hidden;
		
		&:not(:last-child) {
			margin-bottom: 1.875rem;
		}
		
		svg {
			width: 100%;
			height: 100%;
		}
	}
	
	&__title {
		display: flex;
		flex-direction: column;
		font-size: 2.1875rem;
		font-weight: 700;
		line-height: 2.625rem;
		color: #000;
		text-align: center;
		
		&:not(:last-child) {
			margin-bottom: 1.25rem;
		}
		
		&::after {
			content: '';
			float: left;
			width: 100%;
			height: 0.1875rem;
			margin-top: 0.625rem;
			background: linear-gradient(91.61deg, #651980 0%, #D00F84 100%);
		}
		
		span {
			font-size: 1.875rem;
			font-weight: 700;
			line-height: 2.25rem;
		}
	}
	
	&__text {
		font-size: 1.25rem;
		font-weight: 400;
		line-height: 1.5rem;
		letter-spacing: -0.02em;
		text-align: center;
		max-width: 40%;
	}
}
//========================================================================================================================================================

.notification-test {
	max-width: 31.875rem;
	width: 100%;
	overflow: hidden;
}
.notification-test__info { 
	display: flex;
	align-items: center;
	&:not(:last-child){
		margin-bottom: 1.25rem;
	}
}
.notification-test__icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 11.25rem;
	height: 11.25rem;
	font-size: 5rem;
	border: 0.5rem solid grey;
	border-radius: 3.125rem;
	overflow: hidden;
	&:not(:last-child){
		margin-right: 2.5rem;
	}
	svg {
		width: 6.25rem;
		height: 6.25rem;
	}
}
.notification-test__result {
}
.notification-test__value {
	font-size: 100px;
	font-weight: 700;
	line-height: 100px;
	letter-spacing: 0.02em;
	&:not(:last-child){
		margin-bottom: 0.3125rem;
	}
}
.notification-test__value-text {
	font-size: 1.5625rem;
	font-weight: 700;
	line-height: 1.5625rem;
	letter-spacing: 0.02em;
	color: #000;
}
.notification-test__text {
	font-size: 3.125rem;
	font-weight: 700;
	line-height: 3.7031rem;
	letter-spacing: 0.02em;
	&:not(:last-child){
		margin-bottom: 3.5rem;
	}
}
.notification-test__btn {
	font-size: 1.25rem;
	font-weight: 700;
	line-height: 1.25rem;
	letter-spacing: -0.02em;
	text-transform: uppercase;
	padding: 1rem 1.875rem;
	border-radius: 0.9375rem;
}

.notification-test--success {
	.notification-test__icon {
		border: 0.5rem solid #17C854;
		background-color: #f1fbf6;
	}
	.notification-test__value {
		color: #17C854;
	}
	.notification-test__text {
		span {
			color: #17C854;
		}
	}
}
.notification-test--false {
	.notification-test__icon {
		border: 0.5rem solid #CC1384;
		background-color: #f9f1f9;
	}
	.notification-test__value {
		color: #CC1384;
	}
	.notification-test__text {
		span {
			color: #CC1384;
		}
	}
}
//========================================================================================================================================================

.body-profile {
	padding: 0.75rem;
	background: linear-gradient(92.83deg, rgba(208, 15, 132, 0.9) -0.1%, rgba(252, 105, 76, 0.9) 100.26%);
	border-radius: 1.25rem;
	overflow: hidden;
}

.body-profile__folder {
	font-size: 1.25rem;
	font-weight: 700;
	line-height: 1.25rem; 
	letter-spacing: -0.02em;
	color: #fff;
	&:not(:last-child){
		margin-bottom: 0.625rem;
	}
}
//========================================================================================================================================================

.sticker-name {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 1.25rem;
	font-weight: 700;
	line-height: 1.25rem;
	letter-spacing: -0.02em;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	padding: 0.625rem 1rem;
	background: linear-gradient(126.28deg, rgba(1, 96, 235, 0.9) 0%, rgba(0, 145, 250, 0.9) 100%);
	border-radius: 0.75rem;
	overflow: hidden;
}

.progress-box {
	display: flex;
	align-items: center; 
	gap: 0.3125rem;
	padding: 0.3125rem 0.625rem;
	background: #f9f1f9;
	border-radius: 0.9375rem;
	overflow: hidden;
	&__number {
	font-size: 0.9375rem;
	font-weight: 700;
	line-height: 0.9375rem;
	letter-spacing: -0.02em;
	color: #CC1384;
	}
}
.line-progress {
	width: 100%;
	height: 0.375rem;
	border: 0.0625rem solid #CC1384;
	border-radius: 0.625rem;
	overflow: hidden;
	&::before {
		content:''; 
		float: left;
		height: 100%;
	}
}
.progress-box.--line-20 {
	&__number {
		color: #CC1384;
	}
	.line-progress {
		width: 100%;
		height: 0.375rem;
		border: 0.0625rem solid #CC1384;
		border-radius: 0.625rem;
		overflow: hidden;
		&::before {
			width: 20%;
			background: #CC1384;	
		}
	}
}
.progress-box.--line-100 {
	background: linear-gradient(132.64deg, rgba(49, 228, 110, 0.15) -5.53%, rgba(23, 200, 84, 0.15) 112.47%);
	.progress-box__number {
		color: #26d862;
	}
	.line-progress {
		width: 100%;
		height: 0.375rem;
		border: 0.0625rem solid #26d862;
		border-radius: 0.625rem;
		overflow: hidden;
		&::before {
			width: 100%;
			background: linear-gradient(128.66deg, #31E46E 0%, #17C854 88.89%);
		}
	}
}

//========================================================================================================================================================

.report-table {
	text-align-last: left;
	border-collapse: collapse; 
	border: none;
	th {
		padding: 0.3125rem 1.25rem 1.25rem 0;
		border: none;
		&:nth-child(3)	{
			width: 50%;
		}
	}
	td {
		padding: 0.4375rem 1.25rem 0.4375rem 0;
		border: none;
		border-top: 0.125rem solid #E4EBF1;
		border-bottom: 0.125rem solid #E4EBF1;
		&:nth-child(3)	{
			width: 50%;
		}
		.progress-box {
			width: 6.5625rem;
		}
	}
	&__row {
		display: flex;
		align-items: center;
		gap: 1.25rem;
	}
	&__name {
		font-size: 0.9375rem;
		font-weight: 700;
		line-height: 1.1113rem;
		letter-spacing: -0.02em;
		color: #7e7e80;
		text-transform: uppercase;
	}
	&__value {
		font-size: 1.25rem;
		font-weight: 700;
		line-height: 1.4812rem;
		letter-spacing: -0.02em;
		color: #000;
		span {
			color: #CC1384;
		}
		&.--blue {
			color: #1A83F3;
		}
	}
}
//========================================================================================================================================================


//========================================================================================================================================================

// Стилизация скролла сайта ==============================================================================================================================
::-webkit-scrollbar {
	overflow-y: scroll;
	width: 0.4375rem;
	background-color: #f9f9fd;
}

::-webkit-scrollbar-thumb {
	background-color: #d00f84;
}