.content {
	&__row {
	  display: flex;
	}
	&__menu {
	  flex-shrink: 0;
	  max-width: 16.25rem;
	  margin-right: 1.25rem;
	  width: 100%;
	}
	&__menu-body {
	 position: sticky;
	 top: 0.9375rem;
	}
	&__right {
	 width: 100%;
	}
	&__title {
		font-size: rem(50);
		font-weight: 700;
		line-height: rem(50);
		color: #323333;
		&:not(:last-child){
			margin-bottom: rem(40);
		}
	}
	&__report {
		&:not(:last-child){
			margin-bottom: rem(60);
		}
	}
 }
