.content {
	&__row {
	  display: flex;
	}
	&__menu {
	  flex-shrink: 0;
	  max-width: 16.25rem;
	  margin-right: 1.25rem;
	  width: 100%;
	}
	&__menu-body {
	 position: sticky;
	 top: 0.9375rem;
	}
	&__right {
	 width: 100%;
	}
	&__title {
		font-size: 3.125rem;
		font-weight: 700;
		line-height: 3.125rem;
		color: #323333;
		&:not(:last-child){
			margin-bottom: 2.5rem;
		}
	}
	&__report {
		&:not(:last-child){
			margin-bottom: 3.75rem;
		}
	}
 }
