.report {
	&__header {

	}
	&__body {

	}
}

.header-report { 
	position: relative;
	display: flex;
	justify-content: space-between;
	gap: 0.9375rem;
	padding: 1.25rem 1.875rem;
	background: linear-gradient(90deg, rgba(101, 25, 128, 0.1) 0%, rgba(208, 15, 132, 0.1) 103.83%);
	border-radius: 1.875rem 1.875rem 0 0;
	overflow: hidden;
	&__name {
		display: flex;
		align-items: center;
		gap: 1rem;
		font-size: 3.125rem;
		font-weight: 700;
		line-height: 3.125rem;
		color: #000;
		@media (max-width: 1200px){
			font-size: 2.25rem;
		}
		svg {
			width: 3rem;
			height: 1rem;
		}
	}
	&__name-icon {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		width: 3rem;
		height: 3rem;
		font-size: 1.875rem;
		font-weight: 700;
		line-height: 1.875rem;
		letter-spacing: -0.02em;	
		color: #fff;
		border-radius: 0.9375rem;
		background: linear-gradient(90deg, #651980 0%, #D00F84 100%);
	}
	&__info {
		
	}
}

.header-report--purple {
	background: linear-gradient(90deg, rgba(101, 25, 128, 0.1) 0%, rgba(208, 15, 132, 0.1) 103.83%);
	.header-report__name-icon {
		background: linear-gradient(90deg, #651980 0%, #D00F84 100%);
	}
}
.header-report--light {
	background: linear-gradient(90deg, rgba(252, 105, 76, 0.1) 0%, rgba(241, 139, 41, 0.1) 100.06%);
	.header-report__name-icon {
		background: linear-gradient(90deg, #FC694C 0%, #F18B29 100.06%);
	}
}

.info-header-report {
	display: grid; 
	grid-template-columns: auto; 
	grid-auto-flow: column; 
	align-items: center; 
	justify-content: flex-end;
	gap: 0.625rem;
}
.info-header-report__item {
	display: flex;
	justify-content: flex-end;
	.info-report-text {
		// width: 60%;
	}
}
.counter-report {
	display: grid; 
	grid-template-columns: auto; 
	grid-auto-flow: column; 
	align-items: center; 
	gap: 0.375rem;
	font-size: 1.5625rem;
	font-weight: 700;
	line-height: 1.5625rem;
	letter-spacing: -0.02em;
	padding: 0.875rem 1rem;
	border: 0.25rem solid #721C821A;
	border-radius: 1.25rem;
}
.counter-report__result {
	color: #721C8280;
}
.counter-report__general {
	display: flex;
	align-items: center;
	gap: 0.125rem;
	color: #721C82;
	&::before{
		content:'/'; 

	}
}
.total-report {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5625rem;
	font-weight: 700;
	line-height: 1.5625rem;
	letter-spacing: -0.02em;
	text-align: center;
	color: #721C82;
	padding: 0.875rem 0.75rem;
	background: #721C8214;
	border-radius: 1.25rem;
}
.info-report-text {
	font-size: 0.9375rem;
	font-weight: 700;
	line-height: 0.9375rem;
	color: #721C82;
}

.body-report {
	padding: 1.875rem 0; 
	&__row {
		display: flex;
		justify-content: space-between;
		display: grid; 
		grid-template-columns: repeat(auto-fill, minmax(34.375rem, 1fr)); 
		gap: 3.75rem;
		&:not(:last-child){
			margin-bottom: 2.0625rem;
		}
	}
	&__column {
		flex: 0 1 50%;
	}
}