.checkbox {
	position: relative;
	&:not(:last-child) {
		margin-bottom: em(5); 
	}
	// .checkbox__input
	&__input {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
		&:focus + .checkbox__label:before {
			// box-shadow: 0 0 5px #000;
		}
		&:checked + .checkbox__label:before {
				content:''; 
				float: left; 
				width: 1.5rem; 
				flex: 0 0 1.5rem; 
				height: 1.5rem; 
				background-size: 100%; 
				background-position: 0 0; 
				background-repeat: no-repeat;  
				background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHJlY3Qgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0IiByeD0iMTIiIGZpbGw9InVybCgjcGFpbnQwX2xpbmVhcl8xNTlfMTIyOSkiLz4KPHBhdGggZD0iTTYgMTFMMTAgMTVMMTggNyIgc3Ryb2tlPSJ3aGl0ZSIgc3Ryb2tlLXdpZHRoPSIzIi8+CjxkZWZzPgo8bGluZWFyR3JhZGllbnQgaWQ9InBhaW50MF9saW5lYXJfMTU5XzEyMjkiIHgxPSIwIiB5MT0iMCIgeDI9IjI0IiB5Mj0iMjQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIj4KPHN0b3Agc3RvcC1jb2xvcj0iIzMxRTQ2RSIvPgo8c3RvcCBvZmZzZXQ9IjEiIHN0b3AtY29sb3I9IiMxN0M4NTQiLz4KPC9saW5lYXJHcmFkaWVudD4KPC9kZWZzPgo8L3N2Zz4K');
				border: none;
			}
	}
	// .checkbox__label
	&__label {
		cursor: pointer;
		display: inline-flex;
		align-items: center;
		position: relative;
		gap: 0.625rem;
		display: flex;
		&:before {
			content: "";
			align-self: flex-start;
			flex: 0 0 1.5rem;
			width: 1.5rem;
			height: 1.5rem;
			border: 0.1875rem solid #d6d6d6;
			border-radius: 50%;
		}
	}
	// .checkbox__text
	&__text {
		font-size: 1.25rem;
		font-weight: 700;
		line-height: 1.25rem;
		color: #000;
	}
}

@media (any-hover: hover) {
	.checkbox:hover::before {
		 content: "";
		 position: absolute;
		 top: 50%;
		 -webkit-transform: translateY(-50%);
		 -ms-transform: translateY(-50%);
		 transform: translateY(-50%);
		 left: -0.625rem;
		 width: 80%;
		 height: 150%;
		 background-color: rgba(0, 145, 250, 0.2196078431);
		 border-left: 0.25rem solid #0091FA;
		 border-radius: 0 0.9375rem 0.9375rem 0;
	}
}