<aside class="content__menu menu">
	<div class="content__menu-body">
		<div class="profile-preview">
			<div class="profile-preview__row">
				<img src="img/avatar.svg" alt="" class="profile-preview__image">
				<div class="profile-preview__info">
					<div class="profile-preview__name">Александр</div>
					<div class="profile-preview__pos">Менеджер</div>
				</div>
				<div class="profile-preview__progress">
					<div class="profile-preview__progress-status">
						<span>5</span>/35
					</div>
					<div class="profile-preview__progress-desc">пройдено</div>
				</div>
			</div>
		</div>
		<div class="progress menu__progress">
			<div class="progress__row">
				<div class="progress__value">
					8%
				</div>
				<div class="progress__bar">
					<div class="progress__counter" style="width: 10%;"></div>
				</div>
			</div>
		</div>
		<div class="menu__item">

			<ul class="menu__list list-reset">
				<li class="menu__list-item">
					<a class="menu__link" href="entrance-tests.html">
						<img src="img/icons/folder.svg" alt="">
						Вступительные тесты
					</a>
				</li>
				<li class="menu__list-item">
					<a class="menu__link" href="course-study.html">
						<img src="img/icons/folder.svg" alt="">
						Курс обучения
					</a>
				</li>
				<li class="menu__list-item">
					<a class="menu__link" href="knowledge-base.html">
						<img src="img/icons/folder.svg" alt="">
						База знаний
					</a>
				</li>
				<li class="menu__list-item">
					<a class="menu__link" href="webinars.html">
						<img src="img/icons/folder.svg" alt="">
						Вебинары
					</a>
				</li>
				<li class="menu__list-item">
					<a class="menu__link" href="testing-skills.html">
						<img src="img/icons/folder.svg" alt="">
						Тестирование проф. навыков
					</a>
				</li>
				<li class="menu__list-item">
					<a class="menu__link" href="documents.html">
						<img src="img/icons/folder.svg" alt="">
						Документы
					</a>
				</li>
			</ul>
		</div>
		<a class="logout menu__logout" href="#">
			Выйти
			<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M5.73333 2H2V16H5.73333" stroke="#CC1384" stroke-width="3" stroke-linecap="round"
					stroke-linejoin="round" />
				<path d="M6.66675 9.00031H16.0001M16.0001 9.00031L12.2667 6.00031M16.0001 9.00031L12.2667 12.0003"
					stroke="#CC1384" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
			</svg>
		</a>
	</div>
</aside>